aioquic==0.9.25
asgiref==3.7.2
attrs==23.2.0
Brotli==1.1.0
brotlipy==0.7.0
cachetools==5.3.3
certauth==1.3.0
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==7.1.2
cryptography==42.0.5
defusedxml==0.7.1
fakeredis==0.16.0
filelock==3.13.1
Flask==1.1.4
gevent==21.12.0
google-api-core==2.17.1
google-auth==2.28.2
google-cloud-bigquery==3.19.0
google-cloud-core==2.4.1
google-crc32c==1.5.0
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
greenlet==1.1.3.post0
grpcio==1.62.1
grpcio-status==1.62.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
hyperframe==6.0.1
idna==3.6
itsdangerous==1.1.0
Jinja2==2.11.3
kaitaistruct==0.10
ldap3==2.9.1
MarkupSafe==2.0.1
mitmproxy==10.2.4
mitmproxy_rs==0.5.1
msgpack==1.0.8
packaging==24.0
passlib==1.7.4
portalocker==2.8.2
protobuf==4.25.3
publicsuffix2==2.20191221
Py3AMF==0.8.12
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pylsqpack==0.3.18
pyOpenSSL==24.0.0
pyparsing==3.1.2
pyperclip==1.8.2
python-dateutil==2.9.0.post0
pywb==2.7.4
PyYAML==6.0.1
redis==2.10.6
requests==2.31.0
requests-file==2.0.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
service-identity==24.1.0
six==1.16.0
sortedcontainers==2.4.0
surt==0.3.1
tldextract==5.1.1
tornado==6.4
tqdm==4.66.2
typing_extensions==4.10.0
ua-parser==0.18.0
urllib3==2.2.1
urwid-mitmproxy==2.1.2.1
warcio==1.7.4
webassets==2.0
webencodings==0.5.1
Werkzeug==1.0.1
wsgiprox==1.5.2
wsproto==1.2.0
zope.event==5.0
zope.interface==6.2
zstandard==0.22.0
